html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: poppins;
  src: url(/Poppins,Raleway/Poppins/Poppins-Regular.ttf);
}
header {
  position: relative;
  z-index: 12;
  background-color: #EDECEB;
  top: 0;
  display: flex;
  flex-direction: row;
  height: calc(3vw + 5vh);
  font-family: poppins;
  font-size: 2vw;
}
header img {
  height: calc(3vw + 5vh);
  margin-left: 1rem;
  margin-top: 1vh;
}
body {
  font-family: poppins;
  margin: 0;
}
#hero-section {
  background: url("/pictures/background.jpg") no-repeat center center;
  background-size: auto;
  z-index: 10;
  background-size: cover;
  height: calc(70vh - 3vw - 5vh + 30px);
  width: 100%;
}

.top-tilt {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 13;
  display: block;
  height: 0px;
}
.top-tilt svg {
  position: relative;
  display: block;
  width: 100%;
  height: calc(1vw * 5);
  transform: rotateY(180deg);
}
.top-tilt .shape-fill {
  fill: #EDECEB;
}
main div article{
  font-size: 2rem;
}
#content {
  font-size: 1rem;
  transform: translateY(3vw);
  z-index: 50;
  background-color: white;
}
#navigation-element a{
    display: inline-block;
  text-decoration: none;
  color: black;
  transition: transform 0.2s;
 }
#navigation-element {
  position: sticky;
  top: 0;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EDECEB;
  z-index: 50;
  border-bottom: solid 2px;
  border-bottom-color: rgb(158, 157, 157);
}
#navigation-bar{
  font-size: 2.5rem;
}
@media (max-width: 1022px) {
#navigation-bar a {
  display: none;
}
}
#navigation-bar a {
  margin-left: 3.3vw;
  margin-right: 3.3vw;
}
#navigation-mascott {
  position: absolute;
  left: 1vw;
}
#navigation-element img{
  visibility: visible;
  padding-top: 0.2rem;
  height: 2.4rem;
  width: 2.4rem;
}
a:hover{
  transform: scale(1.1);
}

.hamburger-menu{
  position: absolute;
  right: 1rem;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  display: block;
  position: sticky;
  right: 46px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__box img{
  padding: 12px 24px;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
@media (min-width: 1023px) {
  .hamburger-menu {
    display: none;
  }
}
@media (max-width: 299px) {
  .hamburger-menu {
    display: none;
  }
}